# Deny everythink
*
!*/

# Deny folders
optimize-stroke-match-weights/
pyenv/

# allow:
!.gitignore
!readme.md
!LICENSE
!License.txt
!media/back.png
!media/front.png
!kanji-vg/Cargo.toml
!kanji-vg/src/lib.rs
!hands/Cargo.toml
!hands/src/lib.rs
!compile-data-set/Cargo.toml
!compile-data-set/src/main.rs
!japanese-input/Cargo.toml
!japanese-input/src/lib.rs
!japanese-input/src/analyze.rs
!japanese-input/src/bbox.rs
!japanese-input/src/normalize.rs
!japanese-input/src/stroke_point.rs
!japanese-input/src/to_bez_path.rs
!japanese-input/src/stroke_geometry.rs
!japanese-input/src/rdp.rs
!japanese-input/src/kanji_node.rs
!japanese-input/src/shape.rs
!japanese-input/src/arc_len.rs
!japanese-input/src/analyzed_kanji_node.rs
!japanese-input/src/centroid.rs
!japanese-input/src/convert_lossy.rs
!japanese-input/src/convert_stroke_index.rs
!japanese-input/src/map_space_to.rs
!japanese-input/src/to_index.rs
!japanese-input/src/transform.rs
!japanese-input/src/assignment.rs
!japanese-input/src/leaf_score.rs
!japanese-input/src/leaf_matrix.rs
!japanese-input/src/group_score.rs
!japanese-input/src/match_strokes.rs
!japanese-input/src/recognize_character.rs
!japanese-input/src/recognize_hiragana.rs
!japanese-input/src/gen_svg.rs
!japanese-input/src/recognize_kanji.rs
!japanese-input/tests/utils/mod.rs
!japanese-input/tests/analyze.rs
!japanese-input/tests/recognize.rs
!japanese-input/tests/hiragana.rs
!japanese-input/tests/kanji.rs
!japanese-input/tests/あめ.rs
!japanese-input/tests/いち.rs
!japanese-input/tests/えん.rs
!japanese-input/tests/おう.rs
!japanese-input/tests/おと.rs
!japanese-input/tests/かわ.rs
!japanese-input/tests/ご.rs
!japanese-input/tests/さん.rs
!japanese-input/tests/じゅう.rs
!japanese-input/tests/せい.rs
!japanese-input/tests/つち.rs
!japanese-input/tests/に.rs
!japanese-input/tests/みぎ.rs
!japanese-input/benches/utils/mod.rs
!japanese-input/benches/hiragana_bench.rs
!japanese-input/benches/kanji_bench.rs
!japanese-input/benches/match_bench.rs
!japanese-input-py/Cargo.toml
!japanese-input-py/src/lib.rs
!japanese-input-py/gen_stubs.sh
!japanese_input_anki/__init__.py
!japanese_input_anki/japanese_input_py.pyi
!japanese_input_anki/widgets.py
!data/License.txt
!data/raw/kanjivg.xml
!data/test/*.bin
!data/test/*.svg
!Cargo.toml
