# Deny everythink
*
!*/

# allow:
!.gitignore
!readme.md
!LICNESE
!License.txt
!media/back.png
!media/front.png
!kanji-vg/Cargo.toml
!kanji-vg/src/lib.rs
!data/License.txt
!data/raw/kanjivg.xml
!data/test/*.bin
!Cargo.toml
